/* src/pages/styles.module.css */

/* Styles for the custom header section */
.heroBanner {
  background-image: url('/img/background.png'); /* Path to your image */
  background-size: cover;
  background-position: center;
  color: rgb(251, 143, 41);
  padding: 100px 0;
  text-align: center;
}

.heroTitle {
  font-size: 3rem;
  margin: 0;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin: 0;
}

/* Existing styles for the features section */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
